body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

div#parent {
    border: 1px solid black;
    width: 780px;
    margin: 0 auto;
    background-color: white;
}

div#parent section {
    border: 1px solid black;
}

section.sub-heading {
    background: url('files/histBooks01.jpg') top left no-repeat;
    height: 50px;
}

section.footer-heading {
    background-color: #60663E;
    height: 20px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
    color: white;
}

section.main-content-area {
    /*.main-content-area*/
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("files/uofu_medallion_rt.gif");
    background-repeat: no-repeat;
    background-position: bottom right;

    nav.secondary {
        min-height: 20px;
        border: 1px dotted green;
        /*text-align: right;*/
        margin-right: 20px;
        font-size: 13px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        a { /*target all link*/
            margin: 5px;
            color: black;
            text-decoration: none;
            text-transform: uppercase;


            &:hover {
                text-decoration: underline;
            }
        }

        &.bottom {
            font-size: 11px;

            a {
                text-transform: lowercase;
            }

        }

    }

    section.brown-box {
        background-color: #BEC4A1;
        padding: 20px;
        border-radius: 15px;
        min-height: 400px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto 70px;

        > * {
            margin: 10px
        }


        .left-side {
            width: 37%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            nav {
                a {
                    display: block;
                    text-decoration: none;
                    color: black;
                    border-bottom: 2px solid #60663E;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding: 8px 0 8px 12px;


                    &:hover {
                        color: white;
                        background-color: #60663E;
                    }
                }
            }

            .link {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .right-side {
            width: 62%;
            background-color: white;
            padding: 10px;

            img {
                width: 100%;
                margin-bottom: 5px;
            }

            p {
                font-size: 12px;
            }

            div.more {
                text-align: right;

                a {
                    font-size: 10px;
                    color: red;
                }
            }

        }

        h4 {
            color: red;
            border-bottom: 2px dashed red;
            font-weight: unset;

        }
    }

}